*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--Very-Light-blue, #ECF2FF);
    gap: 60px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
h1{ 
    display: flex;
    color: #4D4F62;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 275;
line-height: normal;
letter-spacing: 0.25px;
}
h2{
    display: flex;
    color: #4D4F62;
text-align: center;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.25px;
}
p{
    display: flex;
    color: #4D4F62;
text-align: center;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
letter-spacing: 0.104px;
opacity: 0.5;
}
.hh{
    display: flex;
    color: #4D4F62;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.pp{
    display: flex;
    color: #4D4F62;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 176.923% */
    letter-spacing: 0.09px;
}
.card1{
   display: flex; 
 align-items: center;
 justify-content: center;
 padding: 60px;
 gap: 30px;

}
.item{
    width: 350px;
    height: 250px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    padding: 32px;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.two {
    display: flex;
flex-direction: column;
    gap: 30px;
  }
.card2 {
    width: 1100px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
  }
  .upper {
    width: 1100px;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

  }
  
  .head1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    letter-spacing: 0.25px;
  }
  
  .head2 {
    text-align: center;
    font-style: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.25px;
  }
  
  .head3 {
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.104px;
  }
  .img{
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 60px;
    padding-left: 230px;
  }
.img2{
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 40px;
    padding-left: 230px;   
}
.img3{
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 40px;
    padding-left: 230px;   
}
.img4{
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 40px;
    padding-left: 230px;   
}
  .supervision{
    border-top: 4px solid rgb(0, 234, 255);
  }
  .team-builder{
    border-top: 4px solid rgb(255, 0, 0);
  }
  .karma{
    border-top: 4px solid rgb(246, 255, 0);
  }
  .calculator{
    border-top: 4px solid aqua;
  }
  @media screen and (max-width: 1100px){
    .container{
        display: flex;
        flex-direction: column;
    }
    body{
        height: 210vh;
    }
}
  
